#hero {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.1rem;

  h1 {
    font-family: "Montserrat";
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 2.5rem;

    span {
      display: block;
      background-image: linear-gradient(
        var(--main-theme),
        var(--main-subheading)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .h2 {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    color: var(--tertiary-text);
    text-transform: uppercase;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  li {
    font-family: "Montserrat";
    font-size: 1.4rem;
    display: block;
  }
}